<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Students</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="javascript/jq.js"></script>
      <% include ./partials/head %>
  </head>
  <body>
   <header>
       <% include ./partials/header %>
   </header>
   <div class="container">


    <div class="table-place">
      <select id='mySelectElement' value='2' name='mySelectElement'>
        <% for(var i=0; i< data.length; i++) { %>
         <option value='1'><%= data[i].bootcamp_name %>  </option>  <% } %>

      </select>
      <div class="table-container">
             <table class="table table-students">
               <tbody>
                <tr>
                  <th>Student name</th>
                  <th>Email</th>
                  <th>City</th>
                  <th>Phone</th>
                  <th>Edit</th>
                </tr>
                <% for(var i=0; i< data.length; i++) { %>
                <tr>
                    <td><%= data[i].stu_name %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].city %></td>
                    <td><%= data[i].phone_num %></td>
                    <td><a href="#">edit</a></td>
                  <% } %>
                </tr>
               </tbody>
             </table>
           </div>
         </div>
      </div>
  </body>
</html>
