<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <link rel="stylesheet" href="./css/editstud.css">
  <body>
   <header>
       <% include ./partials/header %>
   </header>

   <div class="container boot">
      <div class="jumbotron row">
        <%- messages('messages', locals) %>
             <table class="table table-students">
               <tbody>
                <tr>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>City</th>
                  <th>Phone</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                <% for(var i=0; i< data.length; i++) { %>
                <tr>
                    <td><%= data[i].stu_name %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].city %></td>
                    <td><%= data[i].phone_num %></td>
                    <td><a href="/seestuds/edit/<%= data[i].stu_id %>">Edit</a></td>

                    <form method="POST" action="/seestuds/delete/<%= data[i].stu_id %>" >
                    <td>  <input type="submit" name="deleteme" value="Delete"  class="btn btn-primary"/></td></form>
                    <% } %>

                </tr>
               </tbody>
             </table>
           </div>
         </div>
      </div>
  </body>
  <footer>
    <% include ./partials/footer %>
  </footer>
</html>
